---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cookie Settings | george guitars">
	<h1>Cookie Settings</h1>

	<p>
		This site uses cookies. Further information on the types of cookies can be found under the respective
		categories. Individual cookies can also be activated there. The cookie settings can be adjusted at any time
		using the link in the footer of this website.
	</p>

	<h2>Strictly necessary</h2>
	<p>
		Absolutely necessary cookies enable basic functions and are necessary for the website to function properly.
		Therefore you cannot deactivate it. This type of cookie is used exclusively by the operator of the website
		(first-party cookie) and all information stored in the cookies is only sent to this website.
	</p>

	<h2>Functional</h2>
	<p>
		Functional cookies enable this website to provide certain functions and to save information that has been
		entered by the user - for example, names that have already been registered or the language selection. This
		ensures improved and personalized functions.
	</p>
	<p>No cookies in this category</p>

	<h2>Marketing / Third Party</h2>
	<p>
		Marketing / third party cookies come from external advertising companies, among others, and are used to collect
		information about the websites visited by the user in order to e.g. B. to create target group-oriented
		advertising for the user.
	</p>
	<p>No cookies in this category</p>

	<h2>Performance</h2>
	<p>
		The performance cookies collect information about how this website is used. The operator of the website uses
		these cookies to improve the attractiveness, content and functionality of the website.
	</p>
	<ul>
		<li>
			<strong>Google Analytics</strong><br />
			These cookies collect anonymous information for analysis purposes, as to how visitors use and interact with
			this website. Provider: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA or, if you are
			resident in the EU, Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland. Cookie name(s):
			_ga, _gat and _gid) Cookie Lifetime: 2 years.
			<a href="https://policies.google.com/technologies/cookies">Cookie Policy</a>
			<a href="https://policies.google.com/privacy">Privacy Policy</a>
		</li>
	</ul>
</Layout>

