---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Imprint | george guitars">
	<h1>Impressum</h1>

	<p><strong>George Sabau</strong></p>
	<p>Zehn-Fünfzehn-Rudolfscrime<br />Wien<br />Austria</p>

	<h2>EU dispute settlement</h2>
	<p>
		In accordance with the regulation on online dispute resolution in consumer affairs (ODR regulation), we would
		like to inform you about the online dispute resolution platform (OS platform). Consumers have the opportunity
		to submit complaints to the European Commission's online dispute resolution platform at
		<a href="http://ec.europa.eu/odr?tid=121703750">http://ec.europa.eu/odr?tid=121703750</a>. You can find the
		necessary contact details above in our legal notice. However, we would like to point out that we are not
		willing or obliged to participate in dispute settlement proceedings before a consumer arbitration board.
	</p>

	<h2>Liability for the content of this website</h2>
	<p>
		We are constantly developing the content of this website and strive to provide correct and up-to-date
		information. Unfortunately, we cannot assume any liability for the correctness of all content on this website,
		especially for those provided by third parties. As a service provider, we are not obliged to monitor the
		information transmitted or stored by you or to investigate circumstances that indicate illegal activity. Our
		obligations to remove information or to block the use of information according to general laws due to judicial
		or official orders remain unaffected, even in the event of our non-responsibility. If you notice problematic or
		illegal content, please contact us immediately so that we can remove the illegal content. You will find the
		contact details in the imprint.
	</p>

	<h2>Liability for links on this website</h2>
	<p>
		Our website contains links to other websites for whose content we are not responsible. We are not liable for
		linked websites because we had no knowledge of illegal activities, we have not noticed such illegal activities
		and we would remove links immediately if we became aware of illegal activities. If you notice illegal links on
		our website, please contact us. You will find the contact details in the imprint.
	</p>

	<h2>Copyright notice</h2>
	<p>
		All contents of this website (images, photos, texts, videos) are subject to copyright. Please ask us before you
		distribute, reproduce or exploit the content of this website, for example republishing it on other websites. If
		necessary, we will legally prosecute the unauthorized use of parts of the content on our site. If you find any
		content on this website that violates copyright law, please contact us.
	</p>

	<h2>Photo credits</h2>
	<p>The images, photos and graphics on this website are protected by copyright. The image rights belong to the following photographers and companies:</p>
</Layout>

