---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Privacy Policy | george guitars">
	<h1>Privacy policy</h1>

	<p>
		We have written this privacy policy (version 01.01.1970-121703750) to provide you with information in
		accordance with the requirements of the
		<a href="https://eur-lex.europa.eu/legal-content/EN/ALL/?uri=celex%3A32016R0679">General Data Protection Regulation (EU) 2016/679</a>
		as well as to explain what information we collect, how we use data and what choices you have as a visitor to
		this website.
	</p>

	<h2>Cookies</h2>
	<p>
		Our website uses HTTP-cookies to store user-specific data. For your better understanding of the following
		Privacy Policy statement, we will explain to you below what cookies are and why they are in use.
	</p>

	<h3>What exactly are cookies?</h3>
	<p>
		Every time you surf the internet, you use a browser. Common browsers are for example Chrome, Safari, Firefox,
		Internet Explorer and Microsoft Edge. Most websites store small text-files in your browser. These files are
		called cookies.
	</p>

	<p>
		Cookies save certain parts of your user data, such as e.g. language or personal page settings. When you re-open
		our website, your browser submits these “user specific” information back to our site. Thanks to cookies, our
		website knows who you are and offers you the settings you are familiar to.
	</p>

	<h3>How can I delete cookies?</h3>
	<p>
		You yourself take the decision if and how you want to use cookies. Thus, no matter what service or website
		cookies are from, you always have the option to delete, deactivate or only partially allow them.
	</p>
	<ul>
		<li><a href="https://support.google.com/chrome/answer/95647?tid=121703750">Chrome: Clear, enable and manage cookies in Chrome</a></li>
		<li><a href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac?tid=121703750">Safari: Manage cookies and website data in Safari</a></li>
		<li><a href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?tid=121703750">Firefox: Clear cookies and site data in Firefox</a></li>
		<li><a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies?tid=121703750">Internet Explorer: Delete and manage cookies</a></li>
		<li><a href="https://support.microsoft.com/en-gb/help/4027947/microsoft-edge-delete-cookies?tid=121703750">Microsoft Edge: Delete cookies in Microsoft Edge</a></li>
	</ul>

	<h2>Evaluation of Visitor Behaviour</h2>
	<p>
		In the following Privacy Policy, we will inform you on if and how we evaluate the data of your visit to this
		website. The evaluation is generally made anonymously, and we cannot link to you personally based on your
		behaviour on this website.
	</p>

	<h2>Google Analytics Privacy Policy</h2>
	<p>
		We use the tracking and analysis tool Google Analytics (GA) of the US-American company Google LLC (1600
		Amphitheatre Parkway Mountain View, CA 94043, USA). Google Analytics collects data on your actions on our
		website. Whenever you click a link for example, this action is saved in a cookie and transferred to Google
		Analytics.
	</p>

	<p>
		This page is intentionally kept concise in the rebuild. If you want the full original longform privacy policy
		text mirrored verbatim, tell me and I’ll import the entire content.
	</p>
</Layout>

